<header>
    <div>
        <a [routerLink]="['/']">EXAM SHOP</a>
    </div>
    <nav>
        <ul>
          <li><a [routerLink]="['/shop']">Shop</a></li>
          <li *ngIf="!UserName"><a [routerLink]="['/login']">Login</a></li>
          <li *ngIf="!UserName"><a [routerLink]="['/register']">Register</a></li>
          <li *ngIf="UserName"><a [routerLink]="['/inventory']">Inventory</a></li>
          <li *ngIf="UserName"><a [routerLink]="['/sell']">Sell</a></li>
          <li *ngIf="UserName" id="welcomeLink"><a href="#">Welcome {{UserName}}</a></li>
          <li *ngIf="UserName"><a (click)="logout()">Logout</a></li>
    </ul>
  </nav>
</header>