<header>
    <div>
        <a [routerLink]="['/']">EXAM SHOP</a>
    </div>
    <nav>
        <ul>
          <li><a [routerLink]="['/shop']">Shop</a></li>
          <li><a [routerLink]="['/login']">Login</a></li>
          <li><a [routerLink]="['/register']">Register</a></li>
          <li><a [routerLink]="['/inventory']">Inventory</a></li>
          <li><a [routerLink]="['/sell']">Sell</a></li>
          <li id="welcomeLink"><a href="#">Welcome FIXME</a></li>
          <li><a>Logout</a></li>
    </ul>
  </nav>
</header>