<div class="form sell">
  <form #sellForm="ngForm" (ngSubmit)="onSubmit(sellForm.value)">
    <div class="container">
      <label for="title">
        Title
      </label>
      <input type="text" name="title" placeholder="Enter Product Title" ngModel/>
      <label for="imageUrl">
        Image URL
      </label>
      <input type="text" name="imageUrl" placeholder="Enter the url of your product" ngModel/>
      <label for="description">
        Description
      </label>
      <textarea rows="3" id="description" name="description" ngModel></textarea>
      <label for="price">
        Price
      </label>
      <input type="number" name="price" placeholder="Enter product price" ngModel />
      <button class="SubmitButton">Sell</button>
    </div>
  </form>
</div>