<div  class="form register">
  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm.value)">
    <div  class="container">
      <label for="username">
        Username
      </label>
      <input ngModel type="text" name="username" placeholder="Enter Username" />
      <label for="email">
        Email
      </label>
      <input ngModel type="text" name="email" placeholder="Enter Email" />
      <label for="password">
        Password
      </label>
      <input ngModel type="password" name="password" placeholder="Enter Password" />
      <button class="SubmitButton">Register</button>
    </div>
    <div  class="otherOption">
      <p>Have an account?
        <a href="/login">Login.</a>
      </p>
    </div>
  </form>
</div>