<div class="form">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
      <div class="container">
          <label for="email">
              Email
          </label>
          <input ngModel type="text" name="email" placeholder="Enter Email" />
          <label for="password">
              Password
          </label>
          <input ngModel type="password" name="password" placeholder="Enter Password" />
          <button class="SubmitButton">Login</button>
      </div>
      <div class="otherOption">
          <p>Don't have an account? <a href="/register">Register.</a></p>
      </div>
  </form>
</div>